<!-- Usos simples -->
<h2>Ejemplos de usos simples de expresiones</h2>
<div>
  <ul>
    <!-- Computar una suma-->
    <li>{{ 10 + 5 }}</li>

    <!-- Concatenar varibales-->
    <li>{{ fruta[1] + ' ' + colorFruta[1] }}</li>

    <!-- Mostrar propiedades de un objeto -->
    <li>
      la ciudad de {{ ciudad.nombre }} tiene {{ ciudad.poblacion }} habitantes
    </li>

    <!-- Formatear salidas  -->
    <li>{{ pi | number: '1.1-2' }}</li>

    <!-- Acceder metódos -->
    <li>Fruta tiene: {{ fruta.length }} letras</li>

    <!-- Llamar a funciones del controlador -->
    <li>{{ helloWorld() }}</li>

    <li>
      Esta persona se llama {{ persona.nombre | uppercase }},
      {{ persona.apellido }}
    </li>
  </ul>
</div>
